/* App background */
.stApp {
    background-color: #414963;
}

/* Input and select backgrounds */
.stTextInput > div > div > input,
.stSelectbox > div > div > div > input {
    background-color: #21afaf;
    color: #fff;
}

/* Button styles */
.stButton > button {
    background-color: #222c2c;
    color: #fff;
    border: 1px solid #ff4444;
    border-radius: 6px;
    font-weight: bold;
}
.stButton > button:hover {
    background-color: #ff4444;
    color: #fff;
}